<div class="panel panel-default" ng-if="typeChart == 'table1'">
	<div class="panel-heading">Table 1</div>
	<canvas id="bar" class="chart chart-line" chart-data="data1" chart-labels="labels1" chart-options="options"> </canvas>
</div>
<div class="panel panel-default" ng-if="typeChart == 'table2'">
	<div class="panel-heading">Table 2</div>
    <canvas id="bar" class="chart chart-bar" chart-data="data2" chart-labels="labels2" chart-options="options"></canvas>
</div>