<div class="panel panel-default">
<div class="panel-heading"><h2>Simple List</h2></div>
<table class="table">
  <tr>
    <th>Item Name</th>
    <th></th> 
    <th></th>
  </tr>
  <tr ng-repeat='item in items track by $index'>
    <td>{{item.name}}</td>
    <td><a ng-href="#/list/edit/{{$index}}" ng-click="editItem(item)">edit</a></td> 
    <td><a href="" ng-click="removeItem($index)">remove</a></td>
  </tr>
</table>
</div>
