<ul class="nav nav-tabs">
    <li class="active card">
        <a href="#t1" data-toggle="tab" ng-click="togleGraf()">Table 1</a>
    </li>
    <li class="card">
        <a href="#t2" data-toggle="tab" ng-click="togleGraf()">Table 2</a>
    </li>
</ul>
<div class="tab-content">
<div id="t1" class="tab-pane fade active in">
    <div class="panel panel-default">
        <table class="table" id ="table1">
            <tr>
              <th><h2>X</h2></th>
               <th><h2>Y</h2></th>
            </tr>
            <tr ng-repeat='item in table1'>
              <td>{{item.x}}</td>
              <td>{{item.y}}</td>
            </tr>
        </table>
      </div>
</div>
<div id="t2" class="tab-pane fade">
    <div class="panel panel-default">
        <table class="table" id ="table2">
            <tr>
              <th><h2>X</h2></th>
               <th><h2>Y</h2></th>
            </tr>
            <tr ng-repeat='item in table2'>
              <td>{{item.x}}</td>
              <td>{{item.y}}</td>
            </tr>
        </table>
      </div>
</div>
</div>